

.slidersection {
  margin-top: 200px;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #fff;
  overflow: hidden;
//   font-family: "YourFont", serif;
  &__bg {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    inset: -100px;
    transition: inset 0.3s ease;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__title {
    position: absolute;
    top: 70px;
    left: 120px;
    font-size: 64px;
    color: darkred;
    z-index: 2;
    font-weight: 400;
  }

  &__nav-left {
    position: absolute;
    left: 30px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .sarrow {
      background: none;
      border: none;
      color: white;
      font-size: 35px;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .icons {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .icon {
        width: 40px;
        height: 40px;
        background: linear-gradient(-90deg, #0D0C0C 15%, #232121 100%)6;
        cursor: pointer;

        div {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }


  &__participants {
    padding: 20px 20px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
    max-height: 540px;
    z-index: 2;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #0D0C0C;
      border-radius: 4px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }

    .card {
      height: 250px;
      // background: #0D0C0C;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      transition: transform 0.2s ease, filter 0.2s ease;
      &::after {
        background-color: black
      };
      img {
        width: 100%;
        height: 100%;
        &:hover {
          transform: scale(1.08);
          filter: drop-shadow(0 0 10px var(--text-primary));
        }
      }
      &:hover {
        transform: scale(1.08);
        filter: drop-shadow(0 0 10px var(--text-primary));
      }
    }
  }

  &__dots {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #777;
      cursor: pointer;
      transition: background 0.2s;

      &.active {
        background: white;
      }
    }
  }
}


@media (max-width: 1200px) {
  .main {
    &__participants {
      right: 50px;
    }
  }
}