@use './styles/variables.scss' as *;

*{margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --text-primary: #{$text-primary};
    --text-secondary: #{$text-secondary};
    overflow-x: hidden;
    background: linear-gradient(-90deg, #0D0C0C 15%, #232121 100%);
    user-select: none;
}

[data-theme="dark"] {

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}